.navbar {
  background-color: white;
  height: 90px;
  padding-top: 25px;
  display: flex;
  width: 100%;
  z-index: 500;
}
h1 {
  color: #041730;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 2rem;
}

.title-bold {
  font-weight: 900;
}

h2 {
  color: #041730;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}

h3 {
  color: #848AA1;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

h4 {
  color: #848AA1;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  margin-top: 1.4rem !important;
}

h5 {
  color: #041730;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 1rem;
}

h6 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-bottom: 1.1rem;
}

p {
  color: #848AA1;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  margin-top: 0.75rem !important;
}

a.button-techadvice {
  padding-right: 10px !important;
  padding-left: 10px !important;
  border-radius: 2px !important;
  font-family: 'Lato', sans-serif !important;
  margin: 20px 0px !important;
  display: inline-block !important;
  font-weight: 500 !important;
  background: #4268F0 !important;
  color: white !important;
  font-size: 1.1rem !important;
}

a.button-techadvice:hover {
  text-decoration: none !important;
  color: #A5B9FE !important;
}

.button-round {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  background-color: #4268F0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  line-height: 1.3;
  margin-bottom: 30px;
}

.first-banner {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px !important;
  padding-bottom: 0px !important;
}

.banner-title {
  padding-top: 20px;
  padding-bottom: 40px;
}

.container {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 50px;
  padding-left: 50px;

}

.container-blue {
  background-color:  #041730;
}

.container-grey {
  background-color: #F1F4F9;
}

.tarif-col {
  padding-left: 50px;
  padding-right: 50px;
}

.card-team {
  padding: 30px;
  padding-top: 0px;
  font-weight: lighter;
}

.logos-row {
  margin-top: 2rem;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.steps-header {
  margin-bottom: 20px;
  text-align: center;
}
.steps-timeline {
  outline: 1px dashed rgba(255, 0, 0, 0);
}
@media screen and (max-width: 575px) {
  .steps-timeline {
    border-left: 5px solid #E4E8ED;
    margin-left: 25px;
  }
}
@media screen and (min-width: 576px) {
  .steps-timeline {
    border-top: 5px solid #E4E8ED;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 16.65%;
    margin-right: 16.65%;
  }
}
.steps-timeline:after {
  content: "";
  display: table;
  clear: both;
}
.steps-one, .steps-two, .steps-three {
  outline: 1px dashed rgba(0, 128, 0, 0);
}
@media screen and (max-width: 575px) {
  .steps-one, .steps-two, .steps-three {
    margin-left: -25px;
  }
}
@media screen and (min-width: 576px) {
  .steps-one, .steps-two, .steps-three {
    float: left;
    width: 33%;
    margin-top: -50px;
  }
}
@media screen and (max-width: 575px) {
  .steps-one, .steps-two {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 576px) {
  .steps-one {
    margin-left: -16.65%;
    margin-right: 16.65%;
  }
}
@media screen and (max-width: 575px) {
  .steps-three {
    margin-bottom: -100%;
  }
}
@media screen and (min-width: 576px) {
  .steps-three {
    margin-left: 16.65%;
    margin-right: -16.65%;
  }
}
.steps-img {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media screen and (max-width: 575px) {
  .steps-img {
    float: left;
    margin-right: 40px;
  }
}
.steps-name, .steps-description {
  margin: auto;
  margin-bottom: 0.5rem;
}

.steps-name {
  margin-top: 1.2rem;
}

@media screen and (min-width: 576px) {
  .steps-name {
  /*  text-align: center;*/
  }
}
.steps-description {
  overflow: hidden;
}
@media screen and (min-width: 576px) {
  .steps-description {
  /*  text-align: center;*/
  }
}



.timeline {
  width: 100%;
  max-width: 800px;
  background: #fff;
  padding: 100px 50px;
  position: relative;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}
.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: 0.5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border: 4px solid #4268f0;
  background-color: #4268f0;
  border-radius: 100%;
  top: 15%;
  right: -21px;
  z-index: 99;
}
.entry .title h3 {
  margin: 0;
  font-size: 120%;
}
.entry .title p {
  margin: 0;
  font-size: 100%;
}
.entry .arrow {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .arrow .title {
  margin-bottom: 0.5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .arrow .title:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid #4268f0;
  background-color: #ff3c41;
  border-radius: 100%;
  top: 15%;
  right: -20px;
  z-index: 99;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.entry .body h2 {
  margin: 0;
  font-size: 120%;
}
.entry .body p {
  line-height: 1.4em;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "–";
  margin-right: 0.5em;
}



